@font-face {
    font-family: 'tectonic';
    src: url("https://raw.githubusercontent.com/xeuorux/Pokemon-Tectonic/refs/heads/main/Fonts/power clear.ttf");
}

html * {
    font-size: 18px;
    color: #FFD166;
    font-family: 'tectonic';
}

body {
    background-color: #212121;
}

thead th {
    position: sticky;
    top: 0;
    background-color: #212121;
}

tr:hover {
    background-color: #FFD16677;
}

dialog {
    background-color: #212121;
}

dialog::backdrop {
    background-color: #21212199;
    transition:
        display 0.7s allow-discrete,
        overlay 0.7s allow-discrete,
        background-color 0.7s;
}

dialog:focus {
    outline: none;
}

.gone {
    display: none;
}

.noHover:hover {
    background-color: transparent
}

.fontFinePrint {
    font-weight: normal;
    font-size: 16px;
}

.fontMedium {
    font-size: 19px;
}

.fontLarge {
    font-size: 22px;
}

.fontExtraLarge {
    font-size: 36px;
}

.paddingLeftSmall {
    padding-left: 8px;
}

.paddingTopSmall {
    padding-top: 8px;
}

.textCenter {
    text-align: center;
}

.textLeft {
    text-align: left;
}

.textRight {
    text-align: right;
}

.borderRight {
    border-right: 1px solid #545454;
}

.borderBottom {
    border-bottom: 1px solid #545454;
}

.nav {
    text-align: center;
    padding: 5px 10px;
    width: max-content;
    margin: auto;
}

.topNavButton {
    background-color: #808080;
    border: none;
    padding: 10px;
    font-size: 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    margin: 0px 10px;
}

.topNavButton:hover {
    background-color: #FFD166;
    color: black;
}

.topNavButtonSelected {
    background-color: #FFD166 !important;
    color: black !important;
}

.tabSheet {
    text-align: center;
}

.standardTable {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    border-spacing: 0px;
    width: 800px;
}

.standardThead {
    font-size: 24px;
    padding: 5px;
    border-bottom: 1px solid #545454;
}

.clickableThead {
    font-size: 24px;
    padding: 5px;
    border-bottom: 1px solid #545454;
}

.clickableThead:hover {
    background-color: #FFD166;
    color: black;
}

.standardCell {
    padding: 5px;
    border-bottom: 1px solid #545454;
    line-height: 1.2;
}

.boldCell {
    padding: 5px;
    border-bottom: 1px solid #545454;
    line-height: 1.2;
    font-weight: bolder;
}

.typeChartTable {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    border-collapse: collapse;
    border-spacing: 0px;
}

.typeChartTopLeft {
    box-sizing: border-box;
    line-height: 1.2;
}

.typeChartThead {
    vertical-align: bottom;
}

.typeChartAttack {
    text-align: right;
}

.typeChartCell {
    color: #000000;
    border: 1px solid #545454;
    font-size: 20px;
}

.statsTable {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    border-collapse: collapse;
    border-spacing: 0px;
}

.pokemonModal {
    text-align: center;
}

.modalMoveTable {
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    border-spacing: 0px;
    width: 800px;
}

.statsTableBar {
    height: 15px;
    border-radius: 5px;
    max-width: 300px;
}

.evolutionsTable {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    border-collapse: collapse;
    border-spacing: 0px;
}